a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

#mapid{
  width:600px; 
  height:400px
}

.mb_2{
  margin-bottom: 1.2em;
}

.video_root{
  width: 70%!important;
  height: 80%;
  max-height: 80%;
  float: left;
}

#chat {
  box-sizing: border-box;
  margin: 10px 0 0;
  height: 510px;
  overflow-y: scroll;
}

#titre {
  text-align: center;
  font-size: 1.5em;
}

.chat-container {
  float: right;
  height: -webkit-fill-available;
  width: 30%!important;
  overflow: hidden;
}

.hundred {
  height: 100%;
}

.message-container {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 0.5em;
}

.message-bubble {
  width: auto;
  font-size: 1.2em; 
  word-wrap: break-word; 
}

.message-bubble:nth-child(even) { 
  background-color: #F5F5F5; 
  word-wrap: break-word; 
}

.message-bubble > * {
  padding-left: 0.75em;
  padding-right: 1em;
  word-wrap: break-word;     
}

.panel-body { 
  padding: 0px; 
}

.panel-heading { 
  background-color: #3d6da7 !important; 
  color: white !important; 
}
